<h1>Selamat Datang, {{ myname }} </h1>
<p>Umur saya : {{ myage }} Tahun</p>

<p>{{ mybuah[1] }}</p>

<ul>
    {% if mybuah %}
        {% for name in mybuah %}
        <li>{{ name }}</li>
        {% endfor %}
    {% else %}
        <p>Tidak ada data didalam list</p>
    {% endif %}
</ul>

{% if myage >= 17 %}
<p>Dia Dewasa</p>
{% else %}
<p>Dia Anak-anak</p>
{% endif %}

{% for product in product %}
<p>- {{ product.name|upper }}, {{ product.price }},
    {% if product.stok == True %}
        Tersedia
    {% else %}
        Tidak Tersedia
    {% endif %}
</p>
{% endfor %}