{% extends 'layouts/base.html' %}

{% block title %} Halaman Homepage {% endblock %}

{% block content %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}   
        {% for category, message in messages %}
           <script>
            swal("Good job!", "You clicked the button!", "success");
           </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Ini Halaman Homepage</h1>

<a href="/form-product">Tambah data</a>

<div class="container" style="width: 50%;">
  <table id="myTable">
    <thead>
      <tr>
        <td>Nama Product</td>
        <td>Image</td>
        <td>Price</td>
        <td>Catagory</td>
        <td>Stok</td>
      </tr>
    </thead>
  
    <tbody>
      {% for product in product %}
      <tr>
        <td>{{ product[1] }}</td>
        <td><img src="{{ product[2] }}" width="100px" alt=""></td>
        <td>{{ product[3] }}</td>
        <td>{{ product[6] }}</td>
        <td>{{ 'Tersedia' if product[5] == True else 'Tidak Tersedia' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

{% endblock %}